<?xml version="1.0" encoding="utf-8"?>

<!--
Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
http://go.microsoft.com/fwlink/?LinkId=169433
-->

<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="FaceWebApi.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <section name="microsoft.web.services3" type="Microsoft.Web.Services3.Configuration.WebServicesConfiguration, Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
  </configSections>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="50000000"/>
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <microsoft.web.services3>
    <security>
      <x509 storeLocation="LocalMachine" verifyTrust="false" />
    </security>
  </microsoft.web.services3>
  <connectionStrings>
    <add name="FacElec" connectionString="Server=localhost;Database=facelec_ariadna;Uid=root;Pwd=aritel;" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <applicationSettings>
    <FaceWebApi.Properties.Settings>
      <setting name="FaceWebApi_SSPP_SSPPWebServiceProxyService" serializeAs="String">
        <value>https://se-face-webservice.redsara.es/sspp</value>
        <!--<value>https://webservice.face.gob.es/sspp</value>-->
      </setting>
      <setting name="FaceWebApi_SPP2_SSPPWebServiceProxyService" serializeAs="String">
        <value>https://se-face-webservice.redsara.es/sspp2</value>
        <!--<value>https://webservice.face.gob.es/sspp2</value>-->
      </setting>
    </FaceWebApi.Properties.Settings>
  </applicationSettings>
  <appSettings>
    <!--Datos requeridos para mandar el email de notificación-->
    <add key="mail_server" value="smtp.gmail.com"/>
    <add key="mail_port" value="587"/>
    <add key="mail_address" value="rafael.garcia@ariadnasoftware.com"/>
    <add key="mail_usr" value="rafael.garcia@ariadnasoftware.com"/>
    <add key="mail_pass" value="aritel2011"/>
    <add key="mail_ssl" value="true"/>
    <!-- Datos del certificado para envío de mensajes -->
    <add key="cert_file" value="C:\Face\ElementosFirma\Ariadna\{0}.pfx"/>
    <add key="cert_pass" value="klTLLIwI8cd9hi01SFn/yw=="/>

    <!-- Directorio de notificaciones para FACE (debe existir) -->
    <add key="dirNotificacion" value="C:\Intercambio\Notificacion"/>
    <!-- Sistema por defecto -->
    <!--<add key="gdes_sistema" value="lai"/>-->
    <add key="gdes_sistema" value="lai"/>
  </appSettings>
</configuration>
